__pycache__/
**/__pycache__/
*.py[cod]

.venv/
.venv312/
.venv_check313/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pre-commit-cache/
.pyright/
.sqlfluffcache/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/snippets.code-snippets
.idea/
node_modules/

src/*.egg-info/
var/
*.sqlite3

data/OV10_output_*.xlsx
